@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap");

html,
body {
  box-sizing: border-box;
  position: relative;
}

@layer components {
  .modalWrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .innerShadow {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 20px 0px inset;
  }
}
